Olá <%= current_admin_user.email %>
<%= link_to destroy_admin_user_session_path,  method: :delete do %>
  Logout
<% end %>

<div class="content">
  <%= link_to "New timeline card", new_admin_timeline_card_path %>
</div>

