@import "theme/variables";

@import "functions";

@import "mixins/hover";
@import "mixins/screen-reader";
@import "mixins/text-truncate";
@import "mixins/transition";
@import "mixins/lists";

@import "theme/utilities/container";
@import "theme/components/header";
@import "theme/components/vcard";
@import "theme/components/type";

@import "theme/utilities/backgrounds";
@import "theme/utilities/display";
@import "theme/utilities/position";
@import "theme/utilities/spacing";
@import "theme/utilities/screenreaders";
@import "theme/utilities/shadows";
@import "theme/utilities/text";

@import "theme/components/reboot";
@import "theme/components/transitions";

@import "theme/components/article";
@import "theme/components/bookshelf";
@import "theme/components/breadcrumb";
@import "theme/components/card";
@import "theme/components/code";
@import "theme/components/forms";
@import "theme/components/grid";
@import "theme/components/reset";
@import "theme/components/syntax-highlighting";
@import "theme/components/text";

@import "theme/components/blog-list";
@import "theme/components/project-list";

@import "theme/theme";

/* Header */
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media(min-width: map-get($grid-breakpoints, sm)) {
  .content {
    padding-top: 72px;
  }  
}