@import "theme/variables";

@import "vendor/bootstrap";

/* Variables */

$primary-900: #0E024A;
$primary-800: #20084E;
$primary-700: #2D1263;
$primary-600: #3E2277;
$primary-500: #5714B4;

$gray-100: #ECF1F3;

$spacer: 1rem !default;

$background-color: $gray-100;
$border-color: $gray-100;
$primary: $primary-500;

@import "theme/theme";
@import "theme/components/article";
@import "theme/components/card";
@import "theme/components/grid";
@import "theme/components/reset";
@import "theme/components/spacing";
@import "theme/components/type";
@import "theme/components/vcard";

@import "vendor/font-awesome.scss";

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
  
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}