body {
   font-size: 16px;
}


/* Variables */
$side-nav-bg: #e5d6d3;
$top-nav-bg: #3d333c;
$main-bg: #f9f9f9;

body {
  margin: 0mm 0mm 0mm 0mm;
}

.resume-main-bg {
   background-color: $main-bg;
}

.bg-resume-side-nav {
   background-color: $side-nav-bg;
}

.bg-resume-top-nav {
   background-color: $top-nav-bg;
}

.info {
   @apply tw-flex tw-flex-wrap tw-flex-row tw-mb-4
}

.icon {
   @apply tw-h-8 tw-w-8 tw-rounded-full tw-text-white bg-resume-top-nav tw-justify-center tw-items-center tw-flex
}

.resume-avatar {
   @apply tw-rounded-full tw-h-48 tw-w-48 tw-mx-auto tw-mb-4
}

.web-resume {
   color: $top-nav-bg;
   font-family: 'Lato', sans-serif;

   h2 {
      @apply tw-uppercase tw-text-2xl tw-mb-3 tw-border-b-4 tw-border-b tw-border-gray-800
   }

   .section {
      @apply tw-mr-3
   }
}