@import "functions";
@import "theme/variables";
   
.web-resume {
   background-color: #fff;
   border: 1px solid #ccc;
   color: #222;
   font-family: 'Lato', sans-serif;
   padding: 20px 0 0 0;

   .fa-stack {
      font-size: 20px;
   }

   h1 {
      color: #222;
      font-size: 32px;
      font-weight: bold;
      margin: 0;
   }

   h2 {
      color: #222;
   }

   h3 {
      color: #222;
      font-size: 20px;
      margin: 10px 0;
   }

   .section {
      >.title {
         border-bottom: 1px solid #ccc;
         color: #444;
         margin: 15px 0;
      }
   }

   .section > .title > * {
      display: inline-block;
      vertical-align: middle;
   }

   .section > .title h2 {
      font-size: 22px;
      font-weight: bold;
      line-height: 22px;
      vertical-align: sub;
   }

   .section .info {
      margin: 0 0 15px 0;
   }

   .section .info label {
      display: block;
      font-weight: bold;
   }

   .section .item {
      margin-bottom: 25px;
   }

   .section .date {
      display: inline-block;
      font-weight: bold;
      vertical-align: top;
      width: 30%;
   }

   .section .description {
      display: inline-block;
      width: 69%;
   }

   .section .job-title {
      font-weight: bold;
      margin: 0;
   }

   @media(min-width: map-get($grid-breakpoints, sm)) {
      .col {
         &.meta {
            max-width: 30%;
         }
      
         &.resume {
            max-width: 70%;
         }
      }
   }

   @media(print) {
      .col {
         &.meta {
            width: 30%;
         }
      
         &.resume {
            width: 70%;
         }
      }
   }
}