.bg-primary {
    background-color: #5714B4 !important;
}

.bg-dark {
    background-color: #2D1263 !important;
}

.bg-white {
    background-color: #fff !important;
}

@each $name, $color in $grays {
  .bg-gray-#{$name} {
    background-color: $color;
  }
}

@each $name,
$color in $theme-colors {
  .bg-primary-#{$name} {
    background-color: $color;
  }
}