{% if project.cover_url %} 
   {% assign cover_url = project.cover_url %} 
{% else %} 
   {% assign cover_url = "/assets/img/no_cover.jpg" %}
{% endif %}

<a class="card portfolio mb-3" aria-label="{{ project.title }}" href="{{ project.url }}">
   <div class="card-background position-relative">
      <img data-src="{{ cover_url }}" class="lazy img-fluid" alt="">
   </div>

   <div class="text-center pt-2 card-meta">
      <h4 class="mt-5 text-white font-weight-bold">{{ project.title }}</h4>

      <span class="text-primary-100 mb-3" href="{{ project.link }}">{{ project.link }}</span>

      <ul class="list-inline text-center p-2 m-0">
         {% for category in project.categories %}
         <li class="font-size-md d-inline text-white card-tag">
            {{ category }}
         </li>
         {% endfor %}
      </ul>
   </div>
</a>