<div class="container">
  <h1>Admin area</h1>

  <div class="row">
    <div class="col-md-2">
      <%= render "menu" %>
    </div>
    <div class="col-md-10">
      <table class="table">
        <tr>
          <td>Titulo</td>
          <td></td>
        </tr>
        <% @categories.each do |category| %>
          <tr>
            <td><%= link_to category.title, edit_category_path(category) %></td>
            <td><%= link_to "Excluir", category_path(category),
                    method: :delete,
                    data: { confirm: "Deseja excluir:" } %></td>
          </tr>
        <% end %>
      </table>

      <%= link_to "Nova categoria", new_category_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>