<div class="container">
  <h1>Admin area</h1>

  <div class="row">
    <div class="col-md-2">
      <%= render "menu" %>
    </div>
    <div class="col-md-10">
      <table class="table">
        <tr>
          <td>Titulo</td>
          <td></td>
        </tr>
        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.title, edit_project_path(project) %></td>
            <td><%= link_to "Excluir", project_path(project),
                    method: :delete,
                    data: { confirm: "Deseja excluir:" } %></td>
          </tr>
        <% end %>
      </table>

      <%= link_to "New Project", new_project_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>