<div class="container">
  <h1>Admin area</h1>

  <div class="row">
    <div class="col-md-2">
      <%= render "menu" %>
    </div>
    <div class="col-md-10">
      <table class="table">
        <tr>
          <td>Título</td>
          <td></td>
        </tr>
        <% @series.each do |serie| %>
          <tr>
            <td><%= link_to serie.title, edit_series_path(serie) %></td>
            <td><%= link_to "Excluir", serie_path(serie),
                    method: :delete,
                    data: { confirm: "Deseja excluir:" } %></td>
          </tr>
        <% end %>
      </table>

      <%= link_to "Nova série", new_series_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>