<header>
   <nav class="navbar navbar-expand-md navbar-dark bg-primary-900 fixed-top">
      <a class="navbar-brand mr-auto order-md-0" href="/">
         <div class="logo text-white">
            &lt;rv /&gt;
         </div>
      </a>
      
      <div class="navbar-nav-wrap">
         <ul class="navbar-nav ml-auto">
            {% for page in site.data.topnav.[page.lang].pages %}
               <li class="nav-item">
                  <a class="nav-link" href="{{ page.url }}">
                     <i class="{{ page.icon }}"></i>
                     <span>{{ page.title }}</span>
                  </a>
               </li>
            {% endfor %}
         </ul>
      </div>

   </nav>
</header>
