<header>
   <nav class="navbar navbar-expand-md navbar-dark bg-primary-900 fixed-top">
      <a class="navbar-brand mr-auto order-md-0" href="/">
         <div class="logo text-white">
            &lt;rv /&gt;
         </div>
      </a>
      
      <div class="navbar-nav-wrap">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item">
               <a class="nav-link" href="/">
                  <i class="fas fa-home"></i>
                  <span>Home</span>
                  <span class="sr-only">(current)</span>
               </a>
            </li>

            <li class="nav-item">
               <a class="nav-link" href="/projetos">
                  <i class="fas fa-flask"></i>
                  <span>Labs</span>
               </a>
            </li>   

            <li class="nav-item">
               <a class="nav-link" href="/blog">
                  <i class="fas fa-edit"></i>
                  <span>Blog</span>
               </a>
            </li>

            <li class="nav-item">
                  <a class="nav-link" href="/series">
                     <i class="fas fa-layer-group"></i>
                     <span>Series</span>
                  </a>
               </li>

            <li class="nav-item">
               <a class="nav-link" href="/contato">
                  <i class="fas fa-paper-plane"></i>
                  <span>Contato</span>
               </a>
            </li>
         </ul>
      </div>

   </nav>
</header>
