<header class="site-header navbar-fixed-top">
  <div class="wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <a class="logo" href="/">Rodrigo Vargas</a>
          <span class="sublogo">Web Developer</span>
        </div>
        <div class="col-md-10">
          <div class="top-nav pull-right">
            <a class="link" data-section="articles">Articles</a>
            <a class="link" data-section="about">About</a>
            <a class="link" data-section="employment">Employment</a>
            <a class="link" data-section="portfolio">Portfolio</a>
            <a class="link" data-section="certifications">Certifications</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
