@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: #fff solid transparent;
}

.btn.nav-toggle {
  border: 1px solid #06A763;
  color: #06A763;
  display: inline-block;
  font-size: 26px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  transition: all 0.4s;
  width: 40px;
  z-index: 1;
}

.btn.nav-toggle:hover {
  background-color: #06A763;
  color: #fff;
  fill: #fff;
}

.btn.default {
  background-color: #06A763;
  color: #fff;
  padding: 16px;
}

.web-resume {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #222;
  font-family: 'Lato', sans-serif;
}

.web-resume h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0 0 0;
}

.web-resume h3 {
  font-size: 20px;
  margin: 10px 0;
}

.web-resume .section > .title {
  border-bottom: 1px solid #ccc;
  color: #444;
  margin: 15px 0;
}

.web-resume .section > .title > * {
  display: inline-block;
  vertical-align: middle;
}

.web-resume .section > .title h2 {
  font-size: 22px;
  font-weight: bold;
}

.web-resume .section .info {
  margin: 0 0 15px 0;
}

.web-resume .section .info label {
  display: block;
}

.web-resume .section .item {
  margin-bottom: 25px;
}

.web-resume .section .date {
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
  width: 30%;
}

.web-resume .section .description {
  display: inline-block;
  width: 69%;
}

.web-resume .section .job-title {
  font-weight: bold;
  margin: 0;
}

pre {
  background: #222;
  color: #ffffff;
  padding: 10px;
  overflow: auto;
  width: 100%;
}

pre code {
  width: auto;
}

.highlight .cm {
  color: #608B4E;
}

.highlight .kd,
.highlight .kc {
  color: #3F9CCA;
}

.highlight .nx {
  color: #68D0FE;
}

.highlight .k {
  color: #C586A1;
}

.highlight .p {
  color: #DCD285;
}

.highlight .s2 {
  color: #CE743A;
}

.highlight .mi {
  color: #B5CEA8;
}

.form-control {
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}

h1,
h2,
h3 {
  color: #06A763;
  font-family: 'Lato', sans-serif;
  letter-spacing: -1px;
  margin: 0;
  text-align: left;
}

h4,
h5 {
  color: #06A763;
  font-family: 'Lato', sans-serif;
  letter-spacing: -1px;
  margin: 0;
  text-align: left;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

.section-title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 30px 0 0;
  padding: 0 20px;
  text-align: center;
}

.section-excerpt {
  color: #888;
  display: block;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}

.section-subtitle {
  font-weight: 400;
  margin-bottom: 10px;
}

.article-title {
  text-align: center;
}

label {
  font-weight: bold;
  margin: 0;
}

p,
span,
label,
li {
  font-size: 14px;
}

/* Article Type */
.article-body h2 {
  padding: 25px 0;
}

.opened-nav .top-nav {
  right: 0;
}

.opened-nav .btn.nav-toggle {
  border-color: #fff;
  color: #fff;
}

/*
  ********* Tabs *************
*/
.tabs-wrap {
  padding: 20px 0;
}

.tab-panels {
  border: 1px solid #ccc;
  border-top: none;
}

.tab-panel {
  display: none;
  padding: 20px;
}

.tab-panel.show {
  display: block;
}

.tab-controls {
  border-bottom: 1px solid #ccc;
  margin: 0;
}

.tab-controls li {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
}

.tab-controls li.active {
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

.tab-controls a {
  color: #06A763;
  display: block;
  padding: 5px 10px;
}

.card {
  display: block;
}

.card:hover {
  text-decoration: none;
}

header {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

header .logo-wrap {
  font-size: 18px;
  font-weight: bold;
  padding: 13px;
}

header .logo-wrap .mark {
  color: #06A763;
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}

header .logo-wrap .name {
  color: #06A763;
  display: inline-block;
  vertical-align: middle;
}

header .top-nav {
  bottom: 0;
  background-color: #06A763;
  position: fixed;
  right: -50%;
  transition: right 0.5s;
  top: 0;
  width: 50%;
}

header .top-nav ul {
  color: #eee;
  font-weight: bold;
  list-style: none;
  margin: 16px;
  padding: 0;
  text-align: left;
}

header .top-nav li {
  display: block;
}

header .top-nav a {
  color: #fff;
  font-size: 14px;
}

header .nav-btn-wrap {
  padding: 6px;
  position: absolute;
  right: 6px;
  z-index: 2;
}

/* Background colors */
body {
  background-color: #f5f5f5;
  font-family: 'Lato', Helvetica;
  position: relative;
}

a:hover {
  text-decoration: none;
}

/*
  ************* Modal ************
*/
.modal-content {
  padding: 20px;
}

/* ------------- Begin Content ------------ */
#content {
  background-color: #f5f5f5;
  padding: 50px 0 0;
}

section {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

section .content {
  padding: 20px;
}

section .inner {
  padding: 20px 0;
}

section .title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

section.home {
  background-color: #f3efe0;
  height: 100%;
  margin: 0px auto;
}

section.home .avatar-wrap {
  background-color: #fff;
  padding: 5px;
  margin: 0 auto;
  width: 175px;
}

section.home .personal-infos * {
  display: block;
}

section.home .info {
  margin-bottom: 10px;
}

section.home .social-media .icon {
  background-color: #fff;
  border-radius: 50%;
  color: #ccc;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  margin: 0 10px;
  text-align: center;
  vertical-align: middle;
  width: 32px;
}

section.home .social-media .icon:hover {
  color: #2eca7f;
}

@media (max-width: 767px) {
  .home {
    padding: 0;
  }
}

section.resume {
  background-color: #efefef;
}

section.resume .baseline {
  background-color: #ccc;
  height: 100%;
  margin-left: -2px;
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  z-index: 1;
}

section.resume .card-scroll-wrap {
  overflow-y: scroll;
  height: 300px;
  padding: 0 7px;
}

section.resume .card {
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}

section.resume .card.odd .card-inner {
  margin-right: 0;
}

section.resume .card.odd .left.mark {
  display: none;
}

section.resume .card.couple .card-inner {
  margin-left: 0;
}

section.resume .card.couple .right.mark {
  display: none;
}

section.resume .card .pin {
  background-color: #fff;
  border: 3px solid #06A763;
  border-radius: 50%;
  height: 16px;
  position: absolute;
  width: 16px;
  z-index: 1;
}

section.resume .card .mark {
  position: absolute;
  top: 60px;
  width: 5%;
  z-index: 1;
}

section.resume .card .mark .line {
  background-color: #06A763;
  height: 2px;
  position: absolute;
  top: 7px;
  width: 100%;
}

section.resume .card .mark.left {
  left: 0;
}

section.resume .card .mark.left .line {
  right: 0;
}

section.resume .card .mark.left .pin {
  left: 0;
  margin-left: -8px;
}

section.resume .card .mark.right {
  right: 0;
}

section.resume .card .mark.right .line {
  left: 0;
}

section.resume .card .mark.right .pin {
  right: 0;
  margin-right: -8px;
}

section.resume .card .card-inner {
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 3px solid #06A763 !important;
  color: #414141;
  display: block;
  padding: 20px 10px;
  position: relative;
  transition: box-shadow 0.5s;
}

section.resume .card .card-inner .additional-info {
  display: none;
}

section.resume .card .card-inner .additional-info.show {
  display: block;
}

section.resume .card .card-inner .additional-info-content h2 {
  color: #666;
  text-align: center;
  text-transform: uppercase;
}

section.resume .card .card-inner:hover {
  box-shadow: #999 0px 2px 10px;
}

section.resume .card .card-inner h4 {
  color: #414141;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

section.resume .card .card-inner .period {
  color: #06A763;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px;
  text-align: center;
}

section.resume .card .card-inner .position,
section.resume .card .card-inner .location {
  color: #878787;
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

section.resume .jobs {
  margin: 10px 20px;
  position: relative;
}

section.resume .experience {
  margin-bottom: 30px;
}

section.resume .download-buttons {
  margin-top: 15px;
  text-align: center;
}

section.resume .skill {
  margin-bottom: 5px;
  padding: 5px 10px;
}

section.resume .skill:hover {
  background-color: #f5f5f5;
}

section.resume .skill .name {
  font-weight: bold;
  float: left;
  width: 60%;
}

section.resume .skill .stars {
  color: #06A763;
  float: right;
}

section.resume .skill .stars i {
  padding: 0;
  transition: padding 0.5s;
}

section.resume .skill:hover .stars i {
  padding: 0 1px;
}

section.portfolio .project {
  display: block;
  height: 200px;
  margin: 10px 0;
  overflow: hidden;
  text-decoration: none !important;
  width: 100%;
  z-index: 3;
}

section.portfolio .project .backdrop {
  background-color: rgba(46, 202, 127, 0.8);
  height: 100%;
  padding: 10px;
  transition: margin-top 0.5s;
  width: 100%;
  z-index: 1;
}

section.portfolio .project .backdrop .title {
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  padding: 0;
  text-align: left;
}

section.portfolio .project .img {
  background-size: cover;
  background-position: center;
  display: block;
  height: 100%;
  width: 100%;
}

section.portfolio .project:hover {
  z-index: 0;
}

section.portfolio .project:hover .backdrop {
  margin-top: -200px;
}

/* Boxes */
.box-with-shadow {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(38, 41, 58, 0.1);
  padding: 20px;
}

/* Forms */
.form-control {
  box-shadow: none;
  border-left: none;
  border-radius: 0;
  border-right: none;
  border-top: none;
}

.form-control:focus {
  border-color: #06A763;
  outline: 0;
}

.btn-primary {
  background-color: #06A763;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
}

footer {
  background-color: #06A763;
  padding: 30px 10px;
}

footer span {
  color: #fff;
  display: block;
  font-size: 16px;
  text-align: center;
}

/* Articles */
.article-head {
  background-color: #06A763;
  padding: 50px;
}

.article-head h1 {
  color: #fff;
}

.article-body {
  border-radius: 10px;
  margin: 35px 0;
}
