.card {
   background-color: #fff;
   background-clip: border-box;
   border-radius: 0.25rem;
   display: flex;
   flex-direction: column;

   &:hover {
      text-decoration: none;
   }

   &.blog {
      box-shadow: $shadow;
      border-radius: $border-radius;
      transition: box-shadow 0.4s;

      .card-footer {
         text-align: center;

         .btn {
            background: $gray-200;
            border-radius: 0 0 $border-radius $border-radius;
            color: $primary-500;
            font-weight: 700;
            padding: $spacer-3;
         }
      }

      .tag-list {
         padding: $spacer-2;
         top: 0;
         right: 0;

         .tag {
            background-color: $primary-500;
            border-radius: $border-radius;
            box-shadow: $shadow;
            color: $white;
            display: inline-block;
            font-size: 12px;
            padding: $spacer-1 $spacer-2;

            @each $tag, $color, $textColor, $displayName in $tags {
               &.#{$tag} {
                  background-color: $color;
                  color: $textColor;

                  &::after {
                     content: $displayName;
                  }                  
               }
            }
         }
      }

      &:hover {
         box-shadow: $shadow-deep;
      }
   }

   &.portfolio {
      box-shadow: $shadow;
      overflow: hidden;
      position: relative;

      &:hover {
         .card-meta {
            top: 0;
         }
      }

      .card-meta {
         background-color: rgba(14, 12, 74, 0.8);
         height: 100%;
         left: 0;
         position: absolute;
         top: -100%;
         transition: all 0.5s;
         width: 100%;

         li {
            border: 1px solid $white;
            border-radius: 25px;
         }
      }
   }

   .card-header {
     overflow: hidden;
   }

   .card-tag {
      font-size: map-get($font-sizes, "4");
      margin: 0 $spacer-2;
      padding: $spacer-2;
   }

   .card-body {
      flex: 1 1 auto;
      padding: 1.25rem;
   }

   h3 {
      font-size: 1.25rem;
   }

   span {
      display: block;
   }

   p {
      color: $gray-400;
      font-size: 18px;
   }

   .meta {
      color: $gray-200;
      font-size: 14px;
   }
}