.card {
   background-color: #fff;
   background-clip: border-box;
   border-radius: 0.25rem;
   display: flex;
   flex-direction: column;

   &:hover {
      text-decoration: none;
   }

   &.blog {
      box-shadow: $shadow;
      border-radius: $border-radius;
      transition: box-shadow 0.4s;

      .card-footer {
         text-align: center;

         .btn {
            background: $gray-200;
            border-radius: 0 0 $border-radius $border-radius;
            color: $primary-500;
            font-weight: 700;
            padding: $spacer-3;
         }
      }

      .tag-list {
         padding: $spacer-2;
         top: 0;
         right: 0;

         .tag {
            background-color: $primary-500;
            border-radius: $border-radius;
            color: $white;
            display: inline-block;
            font-size: 12px;
            padding: $spacer-1 $spacer-2;

            @each $tag, $color, $displayName in $tags {
               &.#{$tag} {
                  background-color: $color;

                  &::after {
                     content: $displayName;
                  }                  
               }
            }
         }
      }

      &:hover {
         box-shadow: $shadow-deep;
      }
   }

   .card-body {
      flex: 1 1 auto;
      padding: 1.25rem;
   }

   h3 {
      font-size: 1.25rem;
   }

   span {
      display: block;
   }

   p {
      color: $gray-400;
      font-size: 18px;
   }

   .meta {
      color: $gray-200;
      font-size: 14px;
   }
}

.project-card {
   overflow: hidden;
   position: relative;

   &:hover {
      .meta {
         top: 0;
         bottom: 0;
      }
   }

   .background {
      background-position: center;
      background-size: cover;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
   }

   .meta {
      background-color: $primary-500;
      left: 0;
      top: -200px;
      bottom: 300px;
      width: 100%;
      transition: all 0.5s;
   }
}