header {
   bottom: 0;
   position: fixed;
   width: 100%;
   z-index: 1;

   .navbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;
   }
   
   .navbar > .container,
   .navbar > .container-fluid {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
   }
   
   .navbar-brand {
      display: none;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
   }
   
   .navbar-brand:hover, .navbar-brand:focus {
      text-decoration: none;
   }
   
   .navbar-nav-wrap {
      width: 100%;
   }
   
   .navbar-nav {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin-bottom: 0;
      padding: $spacer-2 0;
   
      .nav-item {
         border-radius: 25px;
         display: inline-block;
         flex-basis: 0;
         flex-grow: 1;
         margin: 0 5px;
         padding: 0 $spacer-2;
         transition: all 0.5s;

         &.active, &:hover {
            background-color: $white;

            .nav-link {
               color: $primary-500;

               span {
                  display: inline-block;
                  opacity: 1;
               }
            }
         }
   
         .nav-link {
            padding-right: 0;
            padding-left: 0;
            text-align: center;
            transition: all 0.5s;
            white-space: nowrap;

            span {
               display: none;
               opacity: 0;
               transition: opacity 0.5s 0.5s;
            }
         }
   
         svg {
            margin-right: $spacer-1;
         }
      }
   }
}


@media(min-width: map-get($grid-breakpoints, md)) {
   header {
      bottom: auto;
      top: 0;

      .navbar-brand {
         display: inline-block;
      }

      .navbar-nav-wrap {
         width: auto;
      }

      .navbar-nav {
         .nav-item {
            &:hover {
               background-color: $white;

               a {
                  color: $primary-500;

               }
            }

            .nav-link {
               span {
                  display: inline !important;
                  opacity: 1;
               }
            }
         }
      }
   }
}