.font-weight-light {
   font-weight: 100;
}

//
// Headings
//

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
   margin-bottom: $headings-margin-bottom;
   font-family: $headings-font-family;
   font-weight: $headings-font-weight;
   line-height: $headings-line-height;
   color: $headings-color;
}

h1,
.h1 {
   font-size: $h1-font-size;
}

h2,
.h2 {
   font-size: $h2-font-size;

   &.iconed {
      border-bottom: 3px solid $primary-500;
      margin: 40px;
      max-width: 300px;
      padding: 10px 30px;
      position: relative;

      svg {
         background-color: $primary-500;
         border-radius: 10px 10px 0 10px;
         color: $white;
         display: inline-block;
         height: 60px;
         left: -40px;
         padding: 16px;
         position: absolute;
         top: 1px;
         width: 60px !important;
      }
   }
}

h3,
.h3 {
   font-size: $h3-font-size;
}

h4,
.h4 {
   font-size: $h4-font-size;
}

.font-size-md {
   font-size: map-get($font-sizes, "4");
}


//
// Horizontal rules
//

hr {
   margin-top: $hr-margin-y;
   margin-bottom: $hr-margin-y;
   border: 0;
   border-top: $hr-border-width solid $hr-border-color;
}


//
// Emphasis
//

small,
.small {
   font-size: $small-font-size;
   font-weight: $font-weight-normal;
}

//
// Lists
//

.list-unstyled {
   @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
   @include list-unstyled;
}

.list-inline-item {
   display: inline-block;

   &:not(:last-child) {
      margin-right: $list-inline-padding;
   }
}