/* Reset */
a:hover {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.dark-wrapper {
    background-color: rgba(0,0,0, 0.5);
    height: 100%;
    transition: all 0.2s;
}

.dark-wrapper:hover {
    background-color: rgba(0,0,0, 0.2);
}

.site-header .wrap {
    background-color: #33373b;
    padding: 10px 0;
}

.site-header .logo {
    color: #fff;
    display: block;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    padding: 10px 0 10px 0;
    text-align: center;
}

.site-header .logo:hover {
    color: #2baab1;
}

.site-header .sublogo {
    color: #bbb;
    display: block;
    font-size: 12px;
    text-align: center;
}

.top-nav {
    padding: 30px 0;
}

.top-nav a {
    color: #bbb;
    padding: 0 5px;
}

.top-nav a:hover {
    color: #2baab1;
}

/* Home layout */
.home .dark-section {
    background-color: #33373b;
    color: #fff;
}

.home h1.section-heading {
    background-color: #2baab1;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.home h2 {
    color: #ccc;
    text-align: center;
}

#articles, #about, #employment, #contact, #portfolio, #certifications {
    padding-top: 100px;
}

.article-list {
    margin-top: 40px;
}

.home .article {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
}

.home .article .category {
    background-color: #2baab1;
    color: #fff;
    font-size: 16px;
    padding: 6px 10px;
    text-align: center;
    text-transform: uppercase;
}

.home .article .category.sharepoint {
    background-color: #0072c6;
}

.home .article .category.ruby-on-rails {
    background-color: #cc0000;
}

.home .article .title {
    color: #222;
    display: block;
    font-size: 20px;
    padding: 6px 10px;
    text-align: center;
}

.home .article .title:hover {
    color: #33d1da;
}

.home .article .date {
    color: #ccc;
    display: block;
    font-size: 10px;
    padding-bottom: 15px;
}

.home .article .body {
    min-height: 200px;
    padding: 0px 20px;
}

.home .article .btn {
    background-color: #2baab1;
    border-radius: 0px;
    color: #fff;
    display: block;
    text-align: center;
}

.home .article .btn:hover {
    background-color: #33d1da;
}

.home .work {
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-bottom: 25px;
}

.home .work .title {
    color: #fff;
    padding: 40px;
    text-align: center;
}

.home .work .btn {
    background-color: #2baab1;
    color: #fff;
    display: block;
    margin: 20px auto;
    width: 140px;
}

footer {
    padding-top: 350px
} 

