/* Reset */
a:hover {
    text-decoration: none;
}

body {
    font-family: 'Lato';
}

.site-header .wrap {
    background-color: #33373b;
    padding: 20px 0;
}

.site-header .logo {
    color: #fff;
    display: block;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    padding: 10px 0 10px 0;
    text-align: center;
}

.site-header .logo:hover {
    color: #f4901e;
}

.site-header .sublogo {
    color: #bbb;
    display: block;
    font-size: 12px;
    text-align: center;
}

.top-nav {
    padding: 28px 0;
}

.top-nav a {
    color: #bbb;
    padding: 0 5px;
}

.top-nav a:hover {
    color: #f4901e;
}

/* Home layout */
.home {
    padding: 40px 0;
}

.home .dark-section {
    background-color: #33373b;
    color: #fff;
}

.home h1.section-heading {
    text-align: center;
}

#articles, #about, #contact {
    padding: 50px 0;
}

.home .post {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
}

.home .post .category {
    background-color: #f7df1e;
    color: #000;
    font-size: 12px;
    padding: 6px 10px;
    width: 40%;
}

.home .post .title {
    color: #222;
    display: block;
    font-size: 18px;
    padding: 6px 10px;
}

.home .post .title:hover {
    color: #f4901e;
}