.btn {
   display: inline-block;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   user-select: none;
   border: $btn-border-width solid transparent;

   &.nav-toggle {
      border: 1px solid $primary;
      color: $primary;
      display: inline-block;
      font-size: 26px;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      text-align: center;
      transition: all 0.4s;
      width: 40px;
      z-index: 1;

      &:hover {
         background-color: $primary;
         color: #fff;
      }
   }

   &.default {
      background-color: $primary;
      color: #fff;
      padding: 16px;
   }
}