.modal-content {
	border-radius: 0px;
}

.modal-content .image-container {
	width: 95%;
}

.modal-content .close-container {
	width: 5%;
} 

.modal-content .title {
	color: #000;
	font-weight: bold;
	margin-top: 20px;
}