<div class="container">
  <div class="row" id="about-container">
    <h1>About</h1>
    <div class="profile clearfix">
      <div id="container-avatar-img col-md-3" class="pull-left">
        <img src="/images/avatar_author.jpg">
      </div>
      <div class="pull-left text col-md-9">
        <p>Engenheiro de computação mas prefere software a hardware. Gosta de conhecer novas tecnologias, recentemente aprendendo sobre Ruby on Rails.</p>
      </div>
    </div>
    <div class="career">
      <h3>Carreira:</h3>
      <b>Imediata Informatica Empresarial: </b><p>Desenvolvedor Cobol, com foco na manutenção e criação de novas features para os sistemas ERP da empresa.</p>
      <b>Grupo Conectt: </b><p>Desenvolvedor Sharepoint/.NET, atuando principalmente no desenvolvimento de novos projetos.</p>
    </div>
  </div>
</div>