<div class="home">
  <div class="intro">
    <h1>Rodrigo Vargas</h1>
    <h2>Full Stack Web Developer</h2>
  </div>
  
  <div class="social-media">
    <a class="github" href="https://github.com/rodrigo-vargas" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-github fa-stack-1x"></i>
      </span>
    </a>
    
    <a class="codepen" href="https://codepen.io/Rodrigo-Vargas/">
      <span class="fa-stack fa-lg">
        <i class="fa fa-codepen fa-stack-1x"></i>
      </span>
    </a>
  </div>
</div>