<div class="container">
  <div class="row">
    <article class="home-article-item col-md-4">
      <div class="home-article-wrap">
        <h1 class="article-title">Lorem Ipsum</h1>
        <p class="article-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem enim earum voluptas nobis explicabo. Sapiente ea harum quod? Autem adipisci, culpa consectetur optio tenetur dolorem in blanditiis molestiae amet earum.
        </p>
        <a href="#">Leia mais</a>
      </div>
    </article>

    <article class="home-article-item col-md-4">
      <div class="home-article-wrap">
        <h1 class="article-title">Lorem Ipsum</h1>
        <p class="article-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem enim earum voluptas nobis explicabo. Sapiente ea harum quod? Autem adipisci, culpa consectetur optio tenetur dolorem in blanditiis molestiae amet earum.
        </p>
        <a href="#">Leia mais</a>
      </div>
    </article>

    <article class="home-article-item col-md-4">
      <div class="home-article-wrap">
        <h1 class="article-title">Lorem Ipsum</h1>
        <p class="article-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem enim earum voluptas nobis explicabo. Sapiente ea harum quod? Autem adipisci, culpa consectetur optio tenetur dolorem in blanditiis molestiae amet earum.
        </p>
        <%= link_to "Leia mais", { controller: "pages", action:"post" } %>
      </div>
    </article>
    <article class="home-article-item col-md-4">
      <div class="home-article-wrap">
        <h1 class="article-title">Lorem Ipsum</h1>
        <p class="article-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem enim earum voluptas nobis explicabo. Sapiente ea harum quod? Autem adipisci, culpa consectetur optio tenetur dolorem in blanditiis molestiae amet earum.
        </p>
        <%= link_to "Leia mais", { controller: "pages", action:"post" } %>
      </div>
    </article>
  </div>
</div>
