section.resume .card {
  position: absolute;
}

header .top-nav {
  background-color: #fff;
  float: right;
  position: static;
  width: 100%;
}

header .top-nav a {
  color: #888;
}

header .top-nav ul {
  margin: 0;
  padding: 13px;
  text-align: right;
}

header .top-nav li {
  display: inline-block;
  padding: 0 2px;
}

header .top-nav li.active a, header .top-nav li:hover a {
  color: #06A763;
}

section.resume .card.odd .card-inner {
  margin-right: 5%;
}

section.resume .card.couple .card-inner {
  margin-left: 5%;
}
