<div id="education" class="section tw-mb-10">
    <div class="title">
       <h2>{{ site.data.t[page.lang].education }}</h2>
    </div>

    {% for course in page.education %} 
       <div class="item">
          <div class="tw-text-xs">
             <span>{{ course.name }}</span>
             <span>({{ course.period }})</span>
          </div>
          <div class="description">
             <span class="tw-font-bold">{{ course.title }}</span>
          </div>
       </div>
    {% endfor %}
 </div>