<div id="experience" class="section tw-mb-10">

   <h2>{{ site.data.t[page.lang].experience }}</h2>

   {% assign careers = site.career  | where: "lang", page.lang %}

   {% for job in careers %}
      <div class="item row tw-mb-5">
         <div class="date tw-w-1/3">
            <span class="tw-font-bold">{{ job.period }}</span>
         </div>

         <div class="description tw-w-2/3">
            <h3 class="tw-font-bold tw-mb-0">{{ job.position }}</h3>
            <span class="tw-text-gray-500">{{ job.name }} / {{ job.location }}</span>
            <div class="job-body">
               <ul class="tw-list-disc tw-pl-5">
                  {% for highlight in job.highlights %}
                     <li>{{ highlight }}</li>
                  {% endfor %}
               </ul>
            </div>
            <div>
               <b>Specialized in: </b>

               {% for skill in job.skills %}
                  <span>{{ skill }},</span>
               {% endfor %}
            </div>
         </div>
      </div>
   {% endfor %}
</div>