<div id="languages" class="section tw-mb-10">
    <div class="title">
       <h2>{{ site.data.t[page.lang].languages }}</h2>
    </div>

    {% for language in page.languages %}
      <div class="tw-mb-5">
         <div>
            <label>{{ language.title }}</label>
         </div>
         <div>
            <span>
               {% for i in (1..language.stars) %}
                  <i class="fa fa-star"></i>
               {% endfor %}
            </span>
            <span>({{ language.description }})</span>
         </div>
      </div>
    {% endfor %}
 </div>