<div id="projects" class="section">
   <h2>Projetos Independentes</h2>

   {% assign projects = site.projects | sort: 'date' | reverse %}
   {% for project in projects %}
   <div class="tw-mb-5">
      <div class="description">
         <span class="tw-text-gray-700 tw-text-xl">{{ project.title }}</span>
         <div>
            <span class="tw-text-xs">{{ project.link }}</span>
         </div>

         <div>
            <span>{{ project.excerpt }}</span>
         </div>

         <div>
            <span class="tw-font-bold tw-text-sm">Worked on:</span>
            {% for skill in project.skills %}
               <span>{{ skill }},</span>
            {% endfor %}
         </div>
      </div>
   </div>
   {% endfor %}
</div>