<div id="technical-skills" class="section">
   <div class="title">
      <span class="fa-stack fa-lg">
         <i class="fa fa-circle fa-stack-2x"></i>
         <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
      </span>
      <h2>{{ site.data.t[page.lang].skills }}</h2>
   </div>

   {% for skill in page.skills %}
      <div class="info">
         <label>{{ skill.title }}</label>
         <span>
            {% for i in (1..skill.stars) %}
               <i class="fa fa-star"></i>
            {% endfor %}
            ({{ skill.star_title }})
         </span>
      </div>
   {% endfor %}
</div>