<div class="container">
  <h1>Projetos</h1>

  <% @projects.each_slice(4) do |row_projects| %>
    <div class="row">
      <% row_projects.each do |project| %>
        <div class="project-container col-sm-3">
          <div class="project-wrapper">
            <div class="project-image">
              <img src="<%= project.project_image %>">
            </div>
            <div class="project-meta">
              <h5 class="project-title"><a href="#"><%= link_to project.title, project_path(project) %></a></h5>
              <span class="project-category"><%= project.skills %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>