/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require font.awesome
 */

.box {
  background-color: #eee;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
  width: 300px;
}

.box h3 {
  font-size: 20px;
  margin: 0 0 10px;
  padding: 0;
}

.box .commands {
  margin-top: 10px;
}

.box .commands a {
  display: block;
  text-align: center;
}

.admin-content .page-title {
  color: #666;
  font-size: 20px;
  text-align: center;
}