$primary: #5714B4;
$primary-darken: #2D1263;
$border-color: #ccc;
$background-color: #f1f1f1;

// Color system
$white:     #fff !default;

$blue:      #35ACEB;
$blue-rgba: rgba(53, 172, 235, 0.8);
$blue-dark: #2D1263;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "blue-dark":  $blue-dark   
  ),
  $colors
);

$dark:          $blue-dark;
$light:         $white;

$headings-color: $primary;

$font-weight-bold:  600 !default;

$spacing-unit:      30px !default; 