/* Background colors */

body {
   background-color: $background-color;
   position: relative;
}
/* ------------- Begin Content ------------ */

#content {
   background-color: #f5f5f5;
   padding: 50px 0 0;
}

section {
   margin: 0;
   padding: 0;
   .content {
      padding: 20px;
   }
   .inner {
      padding: 20px 0;
   }

   .title {
      border-bottom: 1px solid $border-color;
      margin-bottom: 20px;
   }
}

@media(max-width: 767px) {
   .home {
      padding: 0;
   }
}

/* Boxes */
.box-with-shadow {
   background-color: #fff;
   box-shadow: 0 1px 3px 0 rgba(38, 41, 58, 0.1);
   padding: 20px;
}

/* Forms */

.form-control {
   box-shadow: none;
   border-left: none;
   border-radius: 0;
   border-right: none;
   border-top: none;
}

.form-control:focus {
   border-color: $primary;
   outline: 0;
}

.btn-primary {
   background-color: $primary;
   color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
   color: #fff;
}

footer {
   background-color: $primary;
   padding: 30px 10px;
}

footer span {
   color: #fff;
   display: block;
   font-size: 16px;
   text-align: center
}

.nav-spacing {
   height: 56px;
}

/* Articles */
.article-head {
   background-color: $primary;
   padding: 100px 50px;

   h1 {
      color: #fff;
   }
}

.article-body {
   border-radius: 10px;

   margin: 35px 0;
}

.card-background {
   height: 230px;
   background-position: center;
   background-size: cover;
   overflow: hidden;
}