<div>
  <h2>Snippets</h2>

  <div>
    <% WOR::Collection.new('Snippets').items.each do | snippet | %>
      <a href="/members/snippets/<%= snippet.name %>">
        <%= snippet.title %>
      </a>
    <% end %>
  </div>
</div>