<div class="container">
  <article class="internal">
    <h1><%= @post.title %></h1>
    <p>Publicado em: <%= @post.published_at.strftime("%d/%m/%Y") %></p>
    <div class="post-content"><%= raw @post.content %></div>
  </article>
</div>