/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome.css
 *= require bxslider
 */

body {
  background-color: #F6F6F6;
  font-family: 'PT Serif';
  font-size: 18px;
}

/* Reset */
ul, h3 {
  margin: 0px;
  padding: 0px;
}

a {
  color: #000;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

/* Typography*/
h1, h2, h3, h4 {
  font-family: 'PT Sans Narrow';
}

h1 {
  font-size: 64px;
  font-weight: 700;
}

.side-widget {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
  position: fixed;
  bottom: 0px;
  top: 0px;
  transform: translateX(-150px);
  transition: transform 0.5s;
  width: 148px;
  z-index: 999;  
}

.side-widget.is-active {
  transform: translateX(0);
}

/* Navigation */
.nav-item {
  border-bottom: 1px solid #e1e1e1; 
  list-style: none;
  text-align: right;
}

.nav-item a {
  display: block;
  padding: 10px 20px;
}

.nav-item a:hover {
  background-color: #e1e1e1;
}

/* Social Media */
.container-social-media {
  padding: 30px 0 10px 0;
}

.footer-social-media {
  list-style: none;
  text-align: center;
}

.footer-social-media li {
  display: inline-block;
  padding: 0px 10px;
}

.container-trigger-nav a{
  margin-bottom: 15px;
}

.content {
  margin-top: 20px;
}

@media (min-width:992px)
{
  .content {
    margin-left: 150px;
  }

  .side-widget {
    transform: translateX(0);
  }
}

.boxed-content {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 50px;
}