/* Custom Bootstrap gutter */
.gutter-20.row {
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.gutter-0.row {
  margin-right: 0;
  margin-left: 0;
}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{
  padding-right: 0;
  padding-left: 0;
}

/* Generic classes */

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.tcenter {
  text-align: center;
}

.inlineb {
  display: inline-block;
}

/* Side nav */
.side-nav {
  background-color: #33373b;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
}

.side-nav ul {
  padding: 0;
}

.side-nav a {
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px 20px 10px;
}

.side-nav a:hover {
  background-color: #ddd;
  color: #333;
}

.content {
  background-size: 50px 50px;
  background-color: #2baab1;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
  -pie-background: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                   transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                   transparent 75%, transparent) 0 0 / 50px 50px, #2baab1;
}

.content {
  padding-left: 200px;
}

/* Header */
.is-nav-opened .mobile-menu {
  visibility: visible;
  transition: visibility 0.7s 0s;
}

.menu-btn-wrapper {
  height: 32px;
  width: 32px;
  z-index: 3;
}

.menu-btn {
  cursor: pointer;
  font-size: 26px;
}

.menu-btn .fa-circle {
  color: #3c3f4f;
}

.menu-btn:hover .fa-bars {
  font-size: 1.1em; 
}

.is-nav-opened .menu-btn .fa-circle {
  color: #fff;
}

.is-nav-opened .menu-btn .fa-bars {
  color: #3c3f4f;
}

.language-menu {
  list-style: none;
  padding: 15px 0;
}

.language-menu li {
  border-left: 1px solid #000;
}

.language-menu a {
  color: #fff;
  padding: 0 10px;
}

.language-menu a:hover {
  color: #333;
}

.is-nav-opened .language-menu a {
  color: #fff;
}

.is-nav-opened .language-menu a:hover {
  color: #2baab1;
}

.internal {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 25px 0;
  padding: 50px 100px;
}

@media (max-width: 991px){
  .internal {
    padding: 25px;
  }
}

.logo a {
  color: #000;
  text-decoration: none;
}

.logo a:hover {
  color: #fff;
}

/* Pages */



.modal-open .content {
  position: static;
  transform: none;
  transition: transform 0s;
}

.is-nav-opened .content {
  transform: translateX(100%);  
}

footer {
  background-color: #33373b;  
}

footer a {
  color: #aaa;
  cursor: pointer;
  font-size: 20px;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

.bottom-nav ul {
  list-style: none;
}

.bottom-nav li {
  display: inline-block;
  padding: 0 30px;
}

.social-media ul {
  list-style: none;
}

.social-media li {
  display: inline-block;
  margin: 0 5px;
}
