// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resume-section {
  margin-top: 20px;
}

.box-header {
  line-height: 26px;
  margin-bottom: 10px;
  vertical-align: center;
}

.box-icon {
  font-size: 26px;
  margin-right: 10px;
}

.resume-container {
  background-color: #FDFDFD;
  padding: 50px;
}

.resume-container:hover {
  box-shadow: 0 10px 40px #ddd;
}

.resume-row {
  margin-bottom: 20px;
}

.resume-job {
  margin-bottom: 20px;
}