// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.article-title {
  color: #000;
}

a:hover {
  color: #000;
}

h2.article-title a:hover {
  text-decoration: none;
}

.home-article-item {
  margin-bottom: 30px;
}

.home-article-wrap {
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 250px;
  padding: 10px;
}

article.internal p, article.internal li{
  font-family: 'Lato';
  font-size: 16px;
  padding: 8px 0;
}

.post-content {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
}

.episodes-serie {
  background-color: #fff;
  margin: 30px 0;
}