<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/assets/font-awesome.css">
    <link rel="stylesheet" href="/assets/bootstrap.css">
    <link rel="stylesheet" href="/assets/main.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57180863-4', 'auto');
      ga('send', 'pageview');

    </script>

    <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</head>
<body>
  <div class="content">
	 {{ content }}
  </div>

  <div class="menu-btn-wrapper pull-right">
    <a class="menu-btn fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
    </a>
  </div>

  <div class="mobile-menu">
    <div class="container">
      <div class="mobile-menu-inner">
        <ul class="nav">
          <li>
            <a href="/">
              <span class="tcenter">
                <i class="fa fa-home"></i>
              </span>
              <span>Home</span>              
            </a>
          </li>
          <!--<li>
            <a href="/blog">
              <div class="tcenter">
                <i class="fa fa-pencil"></i>
              </div>
              <span>Blog</span>
            </a>
          </li>-->
          <!--<li><a href="/portfolio">Portfolio</a></li>-->
          <li>
            <a href="/resume">
              <span class="tcenter">
                <i class="fa fa-copy"></i>
              </span>
              <span>Curriculo</span>
            </a>
          </li>
          <li>
            <a href="/open-source">
              <span class="tcenter">
                <i class="fa fa-github"></i>
              </span>
              <span>Open Source</span>
            </a>
          </li>
          <!--
          <li><a href="/certificacoes">Certificações</a></li>
          
          <li><a href="/contato">Contato</a></li>-->
        </ul>
      </div>
    </div>
  </div>

</body>

<script type="text/javascript">
  registerMobileMenuAction = function(){
    $(".menu-btn").click(function(){
      if ($("body").hasClass("is-nav-opened"))
        $("body").removeClass("is-nav-opened");
      else
        $("body").addClass("is-nav-opened");
    });
  }

  $(document).ready(function(){
    registerMobileMenuAction();
  });
</script>

</html>