--- 
   layout: default 
---

<div class="home-content tw-bg-gray-100">
   <div class="hero tw-w-full tw-p-5">
      <div class="w-pl-5 tw-pr-5 inner">
         <h1 class="tw-font-black tw-text-primary-800 tw-text-6xl tw-mb-5">Rodrigo <span class="tw-text-gray-600">Vargas</span></h1>

         <p class="font-size-8">
            Olá! Eu sou um desenvolvedor Full Stack com mais de 7 anos de experiência em desenvolvimento de aplicações Web. 
            Hoje trabalhando principalmente com <a href="#" class="text-primary-900 font-weight-bold">.Net</a>, <a href="#" class="text-primary-900 font-weight-bold">JavaScript</a> e <a href="#" class="text-primary-900 font-weight-bold">React</a>
         </p>

         <p class="font-size-8">Caso queira conhecer mais sobre o meu trabalho, dê uma olhada na seção de <a href="#" class="text-primary-900 font-weight-bold">projetos</a></p>

         <p class="font-size-8">No meu <a href="/blog" class="text-primary-900 font-weight-bold">blog</a>, você encontrará posts e tutoriais com tecnologias que aprendi ou estou estudando no momento.</p>
      </div>
   </div>
</div>

<style>
   footer {
      display: none;
   }
   
   header {
      display: none;
   }

   .alert {
      display: none;
   }
</style>