--- 
   layout: default 
---

<div class="side-nav bg-900 p-5">
   <div class="avatar-wrap rounded-circle border mb-5" style="overflow: hidden; background-image: url('/assets/img/avatar.jpg')">
      <img class="lazy img-fluid" data-src="/assets/img/avatar.jpg" alt="">
   </div>

   <div class="text-center">
      <h2 class="h1 text-gray-100">Rodrigo Vargas</h2>
      <h3 class="h6 text-primary-400 mb-5">Full Stack Web Developer</h3>
   </div>

   <hr class="text-primary-400 mx-5" style="height: 2px;">

   <ul class="nav nav-pills flex-column mb-5">
      <li class="nav-item">
         <a class="nav-link" href="/">
            <i class="fas fa-home"></i>
            Home
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/projetos">
            <i class="fas fa-flask"></i>
            Projetos
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/blog">
            <i class="fas fa-edit"></i>
            Blog
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/series">
            <i class="fas fa-layer-group"></i>
            Series
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/contato">
            <i class="fas fa-paper-plane"></i>
            Contato
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/sobre">
            <i class="fas fa-user"></i>
            Sobre mim
         </a>
      </li>
   </ul>

   <div class="social-media mx-auto d-block text-center">
      <ul class="nav d-block">
         <li class="nav-item d-inline-block mx-2">
            <a class="btn btn-social-media" href="http://github.com/Rodrigo-Vargas"
               target="_blank"
               rel="noopener"
               title="GitHub">
               <i class="fab fa-github"></i>
            </a>
         </li>
         <li class="nav-item d-inline-block mx-2">
            <a class="btn btn-social-media" href="https://www.linkedin.com/in/rodrigo-vargas-894a3637/" 
                  target="_blank"
                  rel="noopener"
                  title="Linkedin">
               <i class="fab fa-linkedin"></i>
            </a>
         </li>
         <li class="nav-item d-inline-block mx-2">
            <a class="btn btn-social-media" href="mailto:rodrigovargas123@gmail.com" title="E-mail">
               <i class="fas fa-envelope"></i>
            </a>
         </li>
      </ul>
   </div>
</div>

<div class="home-content side-nav-spacer bg-gray-100">
   <div class="hero">
      <div class="pl-5 pr-5 inner">
         <h1 class="font-weight-bold text-primary-900 font-size-11 hero-title">Rodrigo <span class="text-gray-600">Vargas</span></h1>

         <p class="font-size-8">
            Olá! Eu sou um desenvolvedor Full Stack com mais de 7 anos de experiência em desenvolvimento de aplicações Web. 
            Hoje trabalhando principalmente com <a href="#" class="text-primary-900 font-weight-bold">.Net</a>, <a href="#" class="text-primary-900 font-weight-bold">JavaScript</a> e <a href="#" class="text-primary-900 font-weight-bold">React</a>
         </p>

         <p class="font-size-8">Caso queira conhecer mais sobre o meu trabalho, dê uma olhada na seção de <a href="#" class="text-primary-900 font-weight-bold">projetos</a></p>

         <p class="font-size-8">No meu <a href="#" class="text-primary-900 font-weight-bold">blog</a>, você encontrará posts e tutoriais com tecnologias que aprendi ou estou estudando no momento.</p>
      </div>
   </div>
</div>

<!-- {% include home/vcard.html %}

{% include home/blog.html %}

{% include home/portfolio.html %} -->