---
   layout: internal
---

<div class="impossible-list">
  <div class="container">
    {{ content }}

    <h2>Fitness Goals</h2>
    <ul>
      <li>Get a "six pack"</li>
      <li>Run a 5k</li>
    </ul>

    <h2>Professional Goals</h2>
    <ul>

      <li>Publish a game</li>
      <li>Publish a app</li>
      <li>Create a blog</li>
      <li>Write 5 posts</li>
      <li>Get 1000 blog visits, all time</li>
    </ul>

    <h2>Travel Goals</h2>
    <ul>
      <li>Visit 5 states (3/5)</li>
      <li>Travel to USA</li>
    </ul>

    <h2>Lifestyle Goals</h2>
    <ul>
      <li>Wake up at 5:30 am 21 days in a row</li>
    </ul>

    <h2>Skills Goals</h2>
    <ul>
      <li>Learn cookery</li>
      <li>Read a book and write a review</li>
      <li>Lear fluent english</li>
    </ul>

    <h2>Adventure Goals</h2>
    <ul>
      <li>Skydive</li>
      <li>Scubadive</li>
      <li>Bungee jump</li>
      <li>Visit a cave</li>
      <li>Climb a Volcano</li>
    </ul>

    <h2>Events to Attend</h2>
    <ul>
      <li>Campus Party</li>
      <li>RubyConf</li>
      <li>The Conf</li>
      <li>Comic Con</li>
    </ul>
  </div>
</div>