---
   layout: base
---

<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

<div class="web-resume resume-main-bg">
   <div class="row">
      <div class="tw-w-1/3 bg-resume-side-nav tw-px-20 tw-py-10">
         <img class="resume-avatar" src="{{ site.author_avatar }}" alt="{{ site.author_name }}">

         <div id="personal-info" class="section tw-mb-10">
            <h2>{{ site.data.t[page.lang].contact }}</h2>
            <div class="info">
               <div class="icon">
                  <i class="fa fa-phone"></i>
               </div>
               <span class="tw-flex tw-pl-2">{{ site.author_phone }}</span>
            </div>

            <div class="info">
               <div class="icon">
                  <i class="fa fa-envelope"></i>
               </div>
               <span class="tw-flex tw-pl-2">{{ site.email }}</span>
            </div>

            <div class="info">
               <div class="icon">
                  <i class="fa fa-link"></i>
               </div>
               <span class="tw-flex tw-pl-2">{{ site.url }}</span>
            </div>

            <div class="info">
               <div class="icon">
                  <i class="fab fa-linkedin"></i>
               </div>
               <span class="tw-flex tw-pl-2 tw-w-10">{{ site.author_linkedin }}</span>
            </div>
         </div>

         {% include resume/education.html %}

         {% include resume/languages.html %}
         
         {% include resume/skills.html %}
      </div>

      <div class="tw-w-2/3 ">
         <div class="top-nav bg-resume-top-nav tw-p-10">
            <h1 class="tw-text-white">{{ site.author_name }}</h1>

            <div class="about">
               <h3 class="tw-text-white">{{ site.data.t[page.lang].author_job_position }}</h3>
            </div>
         </div>

         <div class="tw-p-3">
            <div class="personal-statement tw-mb-10">
               <h2 class="tw-text-lg">{{ site.data.t[page.lang].personal_statement }}</h2>
               {{ page.personal_statement }}
            </div>

            <div>
               {% include resume/experience.html %}
            </div>

            {% include resume/projects.html %}
         </div>
      </div>
   </div>
</div>