<div class="card">
   <div class="card-inner">
      <span class="period">{{ job.period }}</span class="period">
      <h4>{{ job.name }}</h4>
      <span class="position">{{ job.position }}</span>
      
      <div class="additional-info">
         <div class="additional-info-content">
            <h2>{{ job.name }}</h2>
            <div class="row">
               <div class="col-sm-4">
                  <div class="logo">
                     <img class="img-responsive" src="{{ job.logo_url }}" alt="{{ job.name }}">
                  </div>
               </div>
      
               <div class="col-sm-8">
      
               </div>
               <div class="col-xs-12">
      
                  <div class="tabs-wrap">
                     <ul class="tab-controls">
                        <li>
                           <a href="" class="tab-btn" data-tab="job-highlights">Description</a>
                        </li>
      
                        <li>
                           <a href="" class="tab-btn" data-tab="job-skills">Skills</a>
                        </li>
      
                        <li>
                           <a href="" class="tab-btn" data-tab="job-description">More</a>
                        </li>
                     </ul>
      
                     <div class="tab-panels">
                        <div class="job-highlights tab-panel">
                           <ul>
                              {% for highlight in job.highlights %}
                              <li>
                                 {{ highlight }}
                              </li>
                              {% endfor %}
                           </ul>
                        </div>
      
                        <div class="job-skills tab-panel">
                           <ul>
                              {% for skill in job.skills %}
                              <li>
                                 {{ skill }}
                              </li>
                              {% endfor %}
                           </ul>
                        </div>
      
                        <div class="job-description tab-panel">
                           {{ job.content }}
                        </div>
                     </div>
      
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="left mark">
      <div class="pin"></div>
      <div class="line"></div>
   </div>
   
   <div class="right mark">
      <div class="pin"></div>
      <div class="line"></div>
   </div>
</div>