<section class="portfolio ">
   <div class="inner">
      <div class="container">
         <h2 class="font-weight-bold iconed">
            <i class="fas fa-flask"></i>
            Labs
         </h2>
         
         <div class="project-list">
            <div class="row">
               {% assign featured_projects = site.projects | where:"featured", true %}
               {% for project in featured_projects %}
                  <div class="col">
                     {% if project.cover_url %} 
                        {% assign cover_url = project.cover_url %} 
                     {% else %} 
                        {% assign cover_url = "/assets/img/no_cover.jpg" %}
                     {% endif %}
            
                     <a class="card portfolio mb-3" aria-label="{{ project.title }}" href="{{ project.url }}">
                        <div class="card-background position-relative">
                           <img data-src="{{ cover_url }}" class="lazy img-fluid" alt="">
                        </div>                        

                        <div class="text-center pt-2 card-meta">
                           <h4 class="mt-5 text-white font-weight-bold">{{ project.title }}</h4>

                           <span class="" href="{{ project.link }}">{{ project.link }}</span>

                           <ul class="list-inline text-center p-2 m-0">
                              {% for category in project.categories %}
                                 <li class="font-size-md text-white p-1 pl-2 pr-2">
                                    {{ category }}</li>
                              {% endfor %}
                           </ul>
                        </div>                           
                     </a>
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</section>