<section class="v-card">
   <div class="container">
      <div class="row no-gutters">
         <div class="col">
            <div class="avatar-wrap" style="background-image: url('/assets/img/avatar.jpg')">
               <img src="/assets/img/avatar.jpg" alt="">
            </div>
         </div>
   
         <div class="col">
            <h1>Rodrigo Vargas</h1>
            <h2 class="h3 font-weight-light mb-5">Full Stack Web Developer</h2>

            <div class="social-media">
               <ul class="list-inline">
                  <li class="list-inline-item mr-2">
                     <a href="http://github.com/rodrigo-Vargas" 
                        class="btn btn-lg btn-dark rounded-circle" 
                        target="_blank">
                        <i class="fab fa-github"></i>
                     </a>
                  </li>
         
                  <li class="list-inline-item mr-2">
                     <a href="mailto:rodrigo@rodrigovargas.me" class="btn btn-dark rounded-circle btn-lg">
                        <i class="fas fa-envelope"></i>
                     </a>
                  </li>
         
                  <li class="list-inline-item">
                     <a href="https://www.linkedin.com/in/rodrigo-vargas-894a3637/" 
                           class="btn btn-dark rounded-circle btn-lg"
                           target="_blank">
                        <i class="fab fa-linkedin"></i>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>