
<div class="bg-primary">
   <section class="v-card container pt-5 pb-5">
      <div class="row">
         <div class="col-md-6">
            <div class="pt-4">
               <h1 class="text-light " data-dynamic-text="OLÁ, \n SOU RODRIGO VARGAS \n DESENVOLVEDOR WEB" style="min-height: 250px;"></h1>
   
               <div class="row">
                  <div class="col-md-6">
                     <div class="btn btn-light btn-block very-rounded shadow mb-2">
                        <a href="/">Sobre mim</a>
                     </div>         
                  </div>
                  
                  <div class="col-md-6">
                     <div class="btn btn-light btn-block very-rounded shadow">
                        <a href="/contato">Preciso de um site</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
   
         <div class="col-md-6">
            <div class="pt-4">
               <div class="avatar-wrap shadow">
                  <img class="img-fluid" src="/assets/img/avatar.jpg" alt="">
               </div>
                     
               <div>                 
                  <h2 class="lead text-center pt-3 pb-3">Desenvolvedor Full Stack</h2>
               </div>
      
               <div class="social-media">
                  <ul class="list-inline text-center">
                     <li class="list-inline-item">
                        <a href="http://github.com/rodrigo-Vargas" 
                           class="btn btn-lg btn-dark rounded-circle" 
                           target="_blank">
                           <i class="fab fa-github"></i>
                        </a>
                     </li>
            
                     <li class="list-inline-item">
                        <a href="mailto:rodrigo@rodrigovargas.me" class="btn btn-dark rounded-circle btn-lg">
                           <i class="fas fa-envelope"></i>
                        </a>
                     </li>
            
                     <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/rodrigo-vargas-894a3637/" 
                              class="btn btn-dark rounded-circle btn-lg"
                              target="_blank">
                           <i class="fab fa-linkedin"></i>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>
      


