
<div class="bg-primary">
   <section class="v-card container pt-5 pb-5">
      <div class="row">
         <div class="col-md-6">
            <div class="p-4">
               <h1 class="text-light mt-5 text-spacing-sm" data-dynamic-text="OLÁ, \n SOU RODRIGO VARGAS \n DESENVOLVEDOR WEB"></h1>
   
               <div class="row">
                  <div class="col-md-6">
                     <div class="btn btn-light btn-block very-rounded shadow">
                        <a href="/">Sobre mim</a>
                     </div>         
                  </div>
                  
                  <div class="col-md-6">
                     <div class="btn btn-light btn-block very-rounded shadow">
                        <a href="/contato">Preciso de um site</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
   
         <div class="col-md-6">
            <div class="avatar-wrap shadow">
               <img class="img-fluid" src="/assets/img/avatar.jpg" alt="">
            </div>
                  
            <div>
               <h1 class="text-center font-weight-bold">Rodrigo Vargas</h1>
               
               <h2 class="lead text-center pb-3">Desenvolvedor Full Stack</h2>
            </div>
   
            <div class="social-media">
               <ul class="list-inline text-center">
                  <li class="list-inline-item">
                     <a href="http://github.com/rodrigo-Vargas" 
                        class="btn rounded-circle btn-lg bg-dark text-primary" 
                        target="_blank">
                        <i class="fab fa-github"></i>
                     </a>
                  </li>
         
                  <li class="list-inline-item">
                     <a href="mailto:rodrigo@rodrigovargas.me" class="btn rounded-circle btn-lg bg-dark text-primary">
                        <i class="fas fa-envelope"></i>
                     </a>
                  </li>
         
                  <li class="list-inline-item">
                     <a href="https://www.linkedin.com/in/rodrigo-vargas-894a3637/" 
                           class="btn rounded-circle btn-lg bg-dark text-primary"
                           target="_blank">
                        <i class="fab fa-linkedin"></i>
                     </a>
                  </li>
         
                  <!--
                     <li class="list-inline-item">
                     <a href="/resume" 
                           class="btn rounded-circle btn-lg bg-primary text-white">
                        <i class="fas fa-gem"></i>
                     </a>
                  </li>
                  -->
               </ul>
            </div>
   
         </div>
      </div>
   </section>
</div>
      


