<!DOCTYPE html>
<html>
  <head>
    <title>RodrigovargasMe</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'admin' %>
  </head>

  <body>
    <%= yield %>    
  </body>
</html>
